<header class="site-navbar" role="banner">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-12 search-form-wrap js-search-form">
        <form method="get" action="#">
          <input
            type="text"
            id="s"
            class="form-control"
            placeholder="Search..."
          />
          <button class="search-btn" type="submit">
            <span class="icon-search"></span>
          </button>
        </form>
      </div>

      <div class="col-4 site-logo">
        <a href="{{url_for('main.index')}}" class="text-black h2 mb-0"
          >ESK HUB</a
        >
      </div>

      <div class="col-8 text-right">
        <nav class="site-navigation" role="navigation">
          <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block mb-0">
            <li><a href="{{url_for('main.index')}}">Home</a></li>
            <li><a href="">Politics</a></li>
            <li><a href="">Tech</a></li>
            <li><a href="">Entertainment</a></li>
            <li><a href="">Travel</a></li>
            <li><a href="">Sports</a></li>
            <li class="d-none d-lg-inline-block">
              <a href="#" class="js-search-toggle"
                ><span class="icon-search"></span
              ></a>
            </li>
            {% if current_user.is_authenticated %}
            <a href="{{url_for('posts.addPost')}}">
              <button class="btn auth-btn btn-primary">Create Post</button>
            </a>
            <a href="{{url_for('auth.account')}}">
              <button class="btn auth-btn btn-primary">Account</button>
            </a>
            <a href="{{url_for('auth.logout')}}">
              <button class="btn auth-btn btn-primary">Logout</button>
            </a>

            {% else %}
            <a href="{{url_for('auth.login')}}">
              <button class="btn auth-btn btn-primary">Login</button>
            </a>
            <a href="{{url_for('auth.register')}}">
              <button class="btn auth-btn btn-primary">Sign Up</button>
            </a>
            {% endif %}
          </ul>
        </nav>
        <a
          href="#"
          class="site-menu-toggle js-menu-toggle text-black d-inline-block d-lg-none"
          ><span class="icon-menu h3"></span
        ></a>
      </div>
    </div>
  </div>
</header>
