{% extends "base.html" %} {% block title %}Login Account{% endblock %} {% block
body %}

<div class="container my-5">
  <section class="vh-90">
    <div class="container h-100 mx-auto" style="max-width: 600px">
      <form action="" method="POST" class="mt-5">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Login</legend>

          <div class="form-group">
            {{ form.email.label(class="form-control-label") }} {% if
            form.email.errors %} {{ form.email(class="form-control
            form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ form.email(class="form-control form-control-lg") }} {%
            endif %}
          </div>

          <div class="form-group">
            {{ form.password.label(class="form-control-label") }} {% if
            form.password.errors %} {{ form.password(class="form-control
            form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.password.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %} {{ form.password(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="form-check">
            {{ form.remember(class="form-check-input") }} {{
            form.remember.label(class="form-check-label") }}
          </div>
        </fieldset>
        <div class="form-group">
          {{ form.submit(class="btn btn-primary form-control mt-3") }}
        </div>
        <small class="text-muted ml-2">
          <a href="{{url_for('auth.reset_request')}}">Forgot Password?</a>
        </small>
      </form>
      <div class="border-top pt-3">
        <small class="text-muted">
          Not yet registerd?
          <a href="{{url_for('auth.register')}}" class="ml-2">Sign Up</a>
        </small>
      </div>
    </div>
  </section>
</div>

{% endblock %}
